@using LibraryManagement.Models.ViewModels
@model LoginUserViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

<h2 class="mb-3 fw-bold">Giriş Yap</h2>

<form asp-action="Login" method="post">
    <div class="mb-3">
        <div class="input-group">
            <input asp-for="Username" type="text" class="form-control" placeholder="UserName adresini gir" />
        </div>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <input asp-for="Password" id="passwordInput" type="password" class="form-control" placeholder="Şifreni gir" />
           
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success w-100 ">Giriş yap</button>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>
<div class="mt-3 text-center">
    <span class="mt-3 text-muted fw-bold ">
        Üye değil misiniz? <a asp-action="Register" class="text-black text-decoration-none px-2">Üye Olun</a>
    </span>
</div>